<div class="card bg-base-100 shadow-sm animate-fade-in-up">
    <figure>
      <img
        [src]="image() || 'https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp'"
        alt="{{ product().title }}" />
    </figure>
    <div class="card-body">
      <a class="card-title text-lg font-montserrat  text-info" [routerLink]="['/product', product().slug]">{{ product().title }}</a>
      <p class="text-gray-500">{{ product().description | slice:0:70 }}...</p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary" [routerLink]="['/product', product().slug]">ver producto</a>
        <a class="btn btn-secondary">agregar al carrito</a>
      </div>
    </div>
  </div>